body {
    background-color: #072264;
}
.hide {
    display: none !important;
}
.d-block {
    display: block;
}
.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn.btn-primary {
    width: -webkit-fill-available;
    font-size: 12px;
    padding: 5px;
    margin: 3px;
    border: solid 1px #dbdbdb;
}
.btn-left {
    border-radius: 14px 0 0 14px;
}
.btn-right {
    border-radius: 0 14px 14px 0;
}
/* mobile */
.c-wz-mbox {
    margin: auto;
    margin-top: 5vh;
    width: fit-content;
    border: solid 1px #dbdbdb;
    border-radius: 6px;
    background-color: #072264;
    color: #dbdbdb;
    padding: 15px 8px;
    user-select: none;
}
.c-wz-mbox h4 {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}
h6.c-mwz-title {
    font-size: 12px !important;
    margin: 3px 16px !important;
}
.c-wz-mbox div span.drag-mitem {
    color: #dbdbdb;
    display: block;
    border: solid 2px #dbdbdb;
    border-radius: 14px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    margin: 3px;
}
.c-wz-mbox-l,
.c-wz-mbox-r {
    border: dashed 2px #dbdbdb;
    border-radius: 14px;
    width: 120px;
    min-height: 100px;
    padding: 5px;
    margin: 3px;
}
.c-wz-mbox div span.mitem-placeholder {
    display: block;
    border: dashed 2px #dbdbdb;
    border-radius: 14px;
    height: 14px;
    text-align: center;
    padding: 5px;
    margin: 3px;
}
